@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>VI Boutique Hotel</h1>
                    <p>
                        Here are the best bed & breakfast booking sites, including recommendations for 
                        travel and for finding low-priced rooms in Kuala Selangor.
                    </p>
                    <a href="#" class="primary-btn">Discover Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>Booking Your Hotel</h3>
                    <form action="#">
                        <div class="check-date">
                            <label for="date-in">Check In:</label>
                            <input type="text" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Check Out:</label>
                            <input type="text" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label for="guest">Guests:</label>
                            <select id="guest">
                                <option value="">2 Adults</option>
                                <option value="">3 Adults</option>
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="room">Room:</label>
                            <select id="room">
                                <option value="">1 Room</option>
                                <option value="">2 Room</option>
                            </select>
                        </div>
                        <button type="submit">Check Availability</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/img/hero/hero-1.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/img/hero/hero-2.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/img/hero/hero-3.jpg"></div>
    </div>
</section>
<!-- Hero Section End -->

<!-- About Us Section Begin -->
<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>Intercontinental LA <br />Westlake Hotel</h2>
                    </div>
                    <p class="f-para">
                        At VI, we invite you to take a break from the ordinary. Whether you're on a solo adventure, a romantic getaway, or a family vacation, we promise an experience that will leave you rejuvenated and enriched.
                    </p>
                    <p class="s-para">

                    </p>
                    <a href="#" class="primary-btn about-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="img/about/about-1.jpg" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img src="img/about/about-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->
<!-- Services Section Begin -->
<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>What We Do</span>
                    <h2>Discover Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-036-parking"></i>
                    <h4>Travel Plan</h4>
                    <p>
                        Venture into the heart of Kuala Selangor with our curated travel plans. Whether you're a history buff, nature lover, or a food enthusiast, our local experts have crafted the perfect itinerary to ensure you experience the best of what our town has to offer.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-033-dinner"></i>
                    <h4>Catering Service</h4>
                    <p>
                        Indulge in a culinary journey with our exquisite catering services. From local delicacies to international cuisines, our chefs use the freshest ingredients to create dishes that tantalize the taste buds and leave a lasting impression.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-026-bed"></i>
                    <h4>Room Services</h4>
                    <p>
                        Experience the luxury of dining within the intimate confines of your room. Whether you're craving a sumptuous breakfast in bed, a delectable midnight snack, or a romantic dinner, our extensive menu caters to all your culinary desires.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-024-towel"></i>
                    <h4>Laundry</h4>
                    <p>
                        Travel light and worry-free with our prompt laundry services. From delicate fabrics to daily wear, our team ensures your clothes are treated with utmost care, returning them to you fresh and impeccably clean.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-044-clock-1"></i>
                    <h4>Hire Driver</h4>
                    <p>
                        Explore Kuala Selangor at your own pace with our reliable driver hire service. Our professional drivers are well-acquainted with the local routes and attractions, ensuring you have a smooth and informative journey.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-012-cocktail"></i>
                    <h4>Bar & Drink</h4>
                    <p>
                        Unwind at our in-house bar, where the ambiance is as intoxicating as the drinks. Choose from a wide range of spirits, cocktails, and mocktails, each crafted to perfection. It's the ideal spot to relax after a day of exploration.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
<!-- Home Room Section Begin -->
<section class="hp-room-section">
    <div class="container-fluid">
        <div class="hp-room-items">
            <div class="row">
                @*<div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="img/room/room-b1.jpg">
                        <div class="hr-text">
                            <h3>Deluxe Twin Room</h3>
                            <h2>RM119<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>18 m²/194 ft²</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max person 2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>Two Single Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>*@
                <div class="col-lg-4 col-md-8">
                    <div class="hp-room-item set-bg" data-setbg="img/room/room-b2.jpg">
                        <div class="hr-text">
                            <h3>Deluxe Twin Room</h3>
                            <h2>RM119<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>18 m²/194 ft²</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion 2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>Two Single Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="hp-room-item set-bg" data-setbg="img/room/room-b3.jpg">
                        <div class="hr-text">
                            <h3>18 m²/194 ft²</h3>
                            <h2>RM126<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>30 ft</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion 5</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="hp-room-item set-bg" data-setbg="img/room/room-b4.jpg">
                        <div class="hr-text">
                            <h3>Family Room</h3>
                            <h2>299$<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>30 ft</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion 5</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home Room Section End -->


@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
