@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="container" style="background-image: url('/img/background/register_bg.png'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center center;">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="registration-form">
                <hr />
                <h2 class="text-center">REGISTRATION</h2>
                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />

                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.CustomerName">Full Name</label>
                    <input asp-for="Input.CustomerName" class="form-control" aria-required="true" placeholder="Full Name" />

                    <span asp-validation-for="Input.CustomerName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.CustomerAge">Age</label>
                    <input asp-for="Input.CustomerAge" class="form-control" aria-required="true" placeholder="21" />

                    <span asp-validation-for="Input.CustomerAge" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.CustomerAddress">Address</label>
                    <input asp-for="Input.CustomerAddress" class="form-control" aria-required="true" placeholder="Selangor" />

                    <span asp-validation-for="Input.CustomerAddress" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.CustomerDoB">Date of Birth</label>
                    <input asp-for="Input.CustomerDoB" class="form-control" aria-required="true" />

                    <span asp-validation-for="Input.CustomerDoB" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.Password">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />

                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.userrole">User Role</label>
                    <br />
                    <select asp-for="Input.userrole" asp-items="Model.RoleSelectList" class="form-control"> </select>
                    <span asp-validation-for="Input.userrole" class="text-danger"></span>
                </div>
                <div class="form-group text-right">
                    <br />
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-lg primary-btn" style=" font-size: 10px;">Already have an account? Login here<span style="float: right;">&rarr;</span></a>
                </div>
                <div class="form-group text-center">
                    <button id="registerSubmit" type="submit" class="btn btn-lg primary-btn" style=" font-size: 16px;">Register</button>
                </div>
            </form>
        </div>

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"   />
}

